// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	width: 100%;
	height: 100%;
	> div {
		width: 90%;
		margin: auto;
		float: left;
		margin-bottom: 20px;
	}
}

.message {
	margin: auto;
	margin-bottom: 20px;
	ul {	
		width: 90%;
		height: 100%;
		margin: 20px;
		li.item {
			float: left;
			list-style: none;
			border: 1px solid blue;
			margin: 2px;
			width: 10%;
		}
	}
}

.opt {
	width: 90%;
	margin: auto;
	float: none;

	.submitbox {
		width: 90%;
		float: none;
		margin: auto;
	}
}

hr {
	margin-bottom: 10px;
	width: 95%;
}

.tsg {
	float: left;
	
}